[submodule "third_party/protobuf"]
	path = third_party/src/protobuf
	url = https://github.com/google/protobuf.git
[submodule "third_party/src/pcm"]
	path = third_party/src/pcm
	url = https://github.com/opcm/pcm.git
